.title {
    color: crimson;
    text-align: center;
    background-color: black;
    border-radius: 7px;
    margin-bottom: 7px;
}

.card {
    padding: 7px;
    background-color: white;
}

form {
    display: flex;
    flex-direction: column;
}

i {
    margin-right: 7px;
}

div {
    
    display: flex;
    padding: 7px;
    justify-content: center;
}

button {
    margin: 7px;
}