<mat-card class="card">
  <mat-card-title class="title">New Product</mat-card-title>
  <form>
    <mat-form-field>
      <input
        matInput
        placeholder="name"
        [(ngModel)]="product.name"
        name="name"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="price"
        [(ngModel)]="product.price"
        name="price"
      />
    </mat-form-field>
  </form>
  <div>
    <button
      mat-raised-button
      (click)="popBack()"
      title="cancel"
    >
      <i class="material-icons" >keyboard_backspace</i>
      Cancel
    </button>
    <button
      mat-raised-button
      (click)="createProduct()"
      title="add"
    >
      <i class="material-icons" >save</i> Save
    </button>
  </div>
</mat-card>
