<div mat-dialog-title class="title">ENTRY FORM</div>
<form [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
  <!-- <mat-divider></mat-divider> -->
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput type="text" formControlName="firstName"/>
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <mat-hint>John</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" />
        <mat-hint>Smith</mat-hint>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email"/>
        <mat-hint>example@example.com</mat-hint>
      </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Date of birth</mat-label>
      <input matInput [matDatepicker]="datepicker" formControlName="dob" />
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle
      matIconSuffix
        [for]="datepicker"
        ></mat-datepicker-toggle>
      <mat-datepicker #datepicker>
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>Cancel</button>
          <button mat-raised-button color="primary" matDatepickerApply>
            Apply
          </button>
        </mat-datepicker-actions>
      </mat-datepicker>
    </mat-form-field>
  </div>
  <div class="row radio">
    <mat-radio-group aria-label="Select an option"  formControlName="gender">
      <mat-label><strong>GENDER:</strong></mat-label>
      <mat-radio-button value="male">Male</mat-radio-button>
      <mat-radio-button value="female">Female</mat-radio-button>
      <mat-radio-button value="others">Other</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Education</mat-label>
      <mat-select  formControlName="education">
        <mat-option *ngFor="let item of educationList" [value]="item">
          {{ item }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Company</mat-label>
      <input matInput type="text"  formControlName="company" />
      <mat-hint>Space X</mat-hint>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions class="action">
  <button mat-raised-button color="primary" type="submit">
    Save
    <mat-icon class="v-middle">save</mat-icon>
  </button>
  <button mat-raised-button mat-dialog-close="">
    Cancel
    <mat-icon class="crimson">cancel</mat-icon>
  </button>
</div>
</form>

