.header {
    display: flex;
    align-items: center;
    background-color: gainsboro;
    /* color: firebrick; */
    border-radius: 10px;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 7px;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    max-height: 32px;
}

.header .title-group {
padding-left: 18px;
font-weight: bold;
}

.header .title-group i {
padding-right: 28px;
}