
.head {
    display: flex;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: solid 2px dodgerblue;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px dodgerblue;
    margin-bottom: 8px;
    height: 100%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;

}

div {
    padding: 6px 0px ;
}

a {
    text-decoration: none;
    color: black;
    background: linear-gradient(to right, dodgerblue, white);
    padding: 2px 18px;
    border-radius: 15px;
    box-shadow: 0px 2px 2px powderblue;
    font-size: 18px;
    font-weight: bold;
}

a:hover {
    color: mediumseagreen;
    background: none;
    background-color: black;
    box-shadow: 3px 3px 4px mediumseagreen, -3px -3px 4px mediumseagreen;
}

.selected {
    color: mediumseagreen;
    background: none;
    background-color: black;
    box-shadow: 3px 3px 6px mediumseagreen, -3px -3px 6px mediumseagreen;
}


