<mat-sidenav-container class="container">
  <mat-sidenav
    class="sidenav"
    mode="side"
    opened
    fixedInViewport="true"
    fixedTopGap="74"
    fixedBottomGap="64"
  >
    <mat-nav-list>
      <a mat-list-item class="nav-list">
        <i class="material-icons red v-middle">home</i> Home
      </a>
      <a mat-list-item class="nav-list">
        <i class="material-icons red v-middle">local_grocery_store </i>
        Shop
      </a>
      <a mat-list-item class="nav-list">
        <i class="material-icons red v-middle">help</i> About
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
