.sidenav {
    background-color: black;
    left: 0;
    width: 150px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    /* box-shadow: 2px 2px 4px slategray; */
}

.sidenav a {
    color: white;
}

.sidenav i {
    padding-right: 7px;
}

.content {
    display: flex;
    padding: 16px;
    background-color: white;
    position: fixed;
    /* margin-top: 64px; */
    color: black;
    height: 300px;
    width: fit-content;
    height: fit-content;
}