* {
  margin: 12px;
  padding: 0;
}

.main {
  max-width: max-content;
  margin: 0 auto;
}

.container {
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;

}

th {
  justify-content: center;
  align-items: center;
}

